.App {
  text-align: center;
  font-family: sans-serif;
}

li{
  text-align: center;
  font-size: 2rem;  
  margin: auto;
}

span{
  font-size: 2rem;
}

.complete{
  color:greenyellow;
}

.incomplete{
  text-decoration: underline;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}